﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="page1.ascx.cs" Inherits="n00422053final.TeacherPick" %>
<label>Page1</label>

    <form id="form1" runat="server">
        <asp:SqlDataSource runat="server" id="pages_select" SelectCommand="select * from pages" ConnectionString="<%$ ConnectionStrings:final_sql_con%>"></asp:SqlDataSource>
        <asp:datagrid runat="server" id="pages_list" datasourceid="pages_select" ></asp:datagrid>
    </form>