﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mainpage.Master" AutoEventWireup="true" CodeBehind="page.aspx.cs" Inherits="n00422053final.page" %>
<asp:Content runat="server" ContentPlaceHolderID="page_content">
    
<asp:SqlDataSource ConnectionString="<%$ ConnectionStrings:final_sql_con%>" runat="server" id="page_select"></asp:SqlDataSource>
<asp:GridView runat="server" id="page_list"></asp:GridView>
    
</asp:Content>