﻿html {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#d7e8ba;
}
#header {
    color: #FFFFFF;
    background-color: #4da1a9;
    width: 20%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    padding: 20px;
}
ul {
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 10px;
}
ul a {
    color: #FFb655;
    text-decoration:none;
}
ul a:hover {
    color: #d7e8ba;
    text-decoration:none;
}
.addbtnStyle a {
    color: #2e5077;
    border: 1px solid #2e5077;
    padding:5px;
}
.addbtnStyle a:hover {
    color: #d7e8ba;
    border: 2px solid #d7e8ba;
    text-decoration:none;
}
#content-container {
    position: absolute;
    left: 25%;
    float: left;
    margin: 0;
    padding: 20px;
}
#footer {
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    padding: 12px;
    width: 100%;
    font-size: 10px;
    text-align: center;
    color: #4da1a9;
}
table.grid {
    border-collapse: collapse;
    border: solid 1px #ffb655;
}
 table.grid td, th {
     border: solid 2px #ffb655;
}